:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #a19fa1;
  letter-spacing: normal;
}

.footer {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.footer:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.footer:hover:after {
  width: 100%;
}

nav > p {
  text-align: left;  
}

nav > p > a {
  text-decoration: underline;
  color: black;
  text-decoration-thickness: 1px;
}